* {
  box-sizing: border-box;
  overflow-wrap: break-word;
}

h1,
h2,
h3,
h4 {
  margin: 0;
}

.hidden {
  display: none;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  border: 0;
  clip: rect(0 0 0 0);
}

body {
  font-family: "PT Sans Narrow", sans-serif;
}

.stats-avantages__wrapper {
  background-color: $grey-back;

  margin-bottom: 30px;

  @media screen and (min-width: $desktop-width) {
    margin-bottom: 21px;
  }
}

.container {
  margin: 0 auto;

  &--form {
    margin: 0 20px;
  }

  &--works {
    margin: 0 20px;

    @media screen and (min-width: $tablet-width) {
      margin: 0 auto;
    }
  }

  @media screen and (min-width: $tablet-width) {
    width: 640px;
    &--form {
      margin: 0 auto;
    }
  }

  @media screen and (min-width: $desktop-width) {
    width: 960px;
  }
}
.hide-on-mobile {
  display: none;
  @media screen and (min-width: $tablet-width) {
    display: block;
  }
}
.hide-on-tablet {
  display: block;
  @media screen and (min-width: $tablet-width) {
    display: none;
  }
}

// combined styles
.form__label:hover .icon--box,
.form__label:hover .icon--form::before,
input:focus + .icon--box,
input:focus + .icon--form::before,
.form__input:hover,
.form__input:focus {
  box-shadow: inset 0px 0px 0px 4px #007dfa99;
}

.form__input:focus-visible {
  outline: none;
}

input:active + .icon--box,
input:active + .icon--form::before {
  background-color: #d5c9bd;
}
