//colors
$grey-back: #242424;
$coffee: #6a4d38;
$roman-coffee: #826550;
$nero: #292929;
$seashell: #f8f5f2;
$spring-wood: #e5ddd5;
$charcoal: #4a4a4a;
$night-rider: #353535;
$shuttle-grey: #636466;

//viewports

$tablet-width: 768px;
$mobile-only-width: 767px;
$desktop-width: 1200px;
