//colors
$grey-back: #242424;
$coffee: #6a4d38;
$roman-coffee: #826550;
$nero: #292929;
$seashell: #f8f5f2;
$spring-wood: #e5ddd5;
$charcoal: #4e4e4e;
$night-rider: #353535;
$shuttle-grey: #636466;
$eclipse: #3f3f3f;

//viewports

$tablet-width: 768px;
$mobile-only-width: 767px;
$desktop-width: 1200px;

//variables

$stats-shift-tablet: -188px;
$stats-shift-desktop: -161px;
