//copyright
.copyright {
  display: flex;
  flex-direction: column;
  text-align: center;

  @media screen and (min-width: $tablet-width) {
    grid-area: copyright;
    align-items: flex-end;
  }
}
.copyright__title {
  margin-bottom: 13px;
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;

  @media screen and (min-width: $tablet-width) {
    margin-right: 38px;
  }
}
.copyright__link {
  margin-bottom: 24px;
}
