//form
.form {
  padding-bottom: 40px;
  position: relative;
  &--sign-in {
  }
  @media screen and (min-width: $tablet-width) {
    padding-bottom: 75px;
  }
  @media screen and (min-width: $desktop-width) {
    padding-bottom: 85px;
  }
}
.form__fields {
  display: flex;
  flex-direction: column;
  margin-bottom: 30px;
  padding: 0;
  border: none;

  &--beard {
    padding: 0 15px;
  }
  &--name {
  }
  &--contact-info {
  }
  &--sign-in {
  }
  @media screen and (min-width: $tablet-width) {
    &--name {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      margin-bottom: 35px;
    }
    &--contact-info {
    }
    &--beard {
      margin-bottom: 55px;
    }
  }
}
.form__input {
  padding: 9px 20px;
  margin-bottom: 6px;
  border: 1px solid $spring-wood;
  &--name {
  }

  &--phone {
  }
  &--mail {
  }
  &--for-barber {
    width: 100%;
    min-width: 1px;
    height: 112px;
  }
  &--contact-info {
  }
  &--beard {
  }
  &--services {
    font-size: 18px;
    line-height: 24px;
  }

  &:last-child {
    margin-bottom: 0;
  }
  &::placeholder {
    font-size: 18px;
    line-height: 30px;
    color: #000000;
  }
  @media screen and (min-width: $tablet-width) {
    margin-bottom: 0;
    font-size: 24px;
    padding: 20px 25px;
    line-height: calc(31 / 24);
    &--name {
      border-right: none;
      width: 100%;
    }
    &--name:last-child {
      border-right: 1px solid $spring-wood;
    }
    &--contact-info {
      margin-bottom: 35px;
    }
    &--for-barber {
      height: 211px;
    }
  }
  @media screen and (min-width: $desktop-width) {
    &--name {
      margin-right: 30px;
      width: 295px;
      border-right: 1px solid $spring-wood;
    }
  }
}
.form__image {
  margin-top: 10px;
}

.form__legend {
  font-size: 20px;
  line-height: 27px;
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 35px;
  &--beard {
  }
  &--services {
  }

  @media screen and (min-width: $tablet-width) {
    font-size: 30px;
    line-height: calc(40 / 30);
    &--beard {
      position: relative;
    }

    &--beard::before,
    &--services::before {
      position: absolute;
      content: "";
      width: 136px;
      background-color: #e5ddd5;
      top: 50%;
      right: -164px;
      height: 1px;
    }
    &--beard::after,
    &--services::after {
      position: absolute;
      content: "";
      width: 136px;
      background-color: #e5ddd5;
      top: 50%;
      left: -164px;
      height: 1px;
    }

    &--services {
      position: relative;
    }
  }
}

.form__label {
  cursor: pointer;
  &--beard {
    // padding-left: 25px;
    padding-bottom: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  &--services {
    display: flex;
    align-items: center;
  }

  @media screen and (min-width: $tablet-width) {
    font-size: 24px;
    line-height: calc(31 / 24);
    &--beard {
      padding: 0;
    }
  }
}

.form__list {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  &--beard {
    flex-direction: row;
    flex-wrap: wrap;
  }
  &--services {
    position: relative;
  }
  @media screen and (min-width: $tablet-width) {
    &--services {
      flex-direction: row;
      flex-wrap: wrap;
    }
  }
}

.form__list-item {
  margin-bottom: 32px;
  &--beard {
    width: 33%;
    position: relative;
    padding: 0;
    padding-top: 71px;
  }

  &--services {
    position: relative;
  }
  &--services::before {
  }
  &:last-child {
    margin-bottom: 0;
  }

  @media screen and (min-width: $tablet-width) {
    &--beard {
      display: flex;
      flex-direction: column;
      align-items: center;
      width: 20%;
    }
    &--services {
      width: 50%;
    }
  }
  @media screen and (min-width: $desktop-width) {
    width: 33%;
  }
}

// combined styles
.form__input--beard:checked + .icon--form::after {
  content: "";
  position: absolute;
  width: 18px;
  height: 18px;
  border-radius: 50%;
  top: -71px;
  left: -7px;
  background-color: $coffee;
}

.form__input--services:checked + .icon--box::after {
  content: "";
  position: absolute;
  width: 22px;
  height: 16px;
  top: 25%;
  left: 20%;
  background-image: url("../images/arrow.svg");
}
