.happy-hours {
  display: flex;
  justify-content: center;
  padding-bottom: 20px;
  @media screen and (min-width: $tablet-width) {
    padding-bottom: 0;
  }
  @media screen and (min-width: $desktop-width) {
    margin-left: 60px;
  }
}
.happy-hours__image-wrapper {
  display: flex;
  align-items: center;
  border: 1px solid #4a4a4a;
  margin: 0;
  padding: 16px 48px 25px 20px;
  width: 100%;
  justify-content: space-around;
  @media screen and (min-width: $tablet-width) {
    justify-content: flex-start;
    padding: 26px 48px 25px 20px;
  }
  @media screen and (min-width: $desktop-width) {
    flex-direction: column;
    padding: 35px 64px 30px;
    width: 270px;
  }
}
.happy-hours__image {
  @media screen and (min-width: $desktop-width) {
    width: 142px;
    height: 139px;
  }
}
.happy-hours__info {
  font-size: 20px;
  line-height: calc(27 / 20);
  margin-left: 33px;
  @media screen and (min-width: $tablet-width) {
    font-size: 30px;
    line-height: calc(30 / 27);
    font-weight: 700;
    text-align: center;
    flex-grow: 1;
  }
  @media screen and (min-width: $desktop-width) {
    margin-left: 0;
    flex-grow: 0;
    font-weight: 400;
    font-size: 20px;
    line-height: calc(27 / 20);
    margin-top: auto;
  }
}
