/*main-nav*/
.main-nav {
  background-color: $roman-coffee;
}

.main-nav__wrapper {
  opacity: 0;
  transform: translateX(-550px);
  transition: transform .5s ease-out, height .5s ease-out, opacity .5s;
  height: 0;

  &.shown {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    transform: translateX(0);
    opacity: 1;
    height: 300px;
  }

  @media screen and (min-width: $tablet-width) {
    height: auto;
    opacity: 1;
    transform: none;
  }
}

.main-nav__list {
}

.main-nav__toggle-button-wrapper {
  display: flex;
  width: auto;
}

.main-nav__text-mobile {
  flex-grow: 1;
  font-size: 18px;
  line-height: 24px;
  text-transform: uppercase;
  text-align: right;
  padding-right: 46px;
  font-weight: 700;
  padding-block: 13px;
  margin: 0;

  &--hidden {
    display: none;
  }
}

.main-nav__toggle {
  width: 70px;
  background-color: $coffee;
  border: none;
  position: relative;
  height: 50px;
  padding: 0;

  &::after {
    content: "";
    position: absolute;
    top: 17px;
    left: 17px;
    width: 36px;
    height: 2.5px;
    background-color: #ffffff;
    box-shadow: 0 8px #ffffff, 0 16px #ffffff;
  }

  &--opened {
    position: absolute;
    z-index: 1;

    &::after,
    &::before {
      content: "";
      position: absolute;
      top: 22px;
      left: 17px;
      width: 36px;
      height: 2.5px;
      background-color: #ffffff;
      box-shadow: none;
    }

    &::before {
      transform: rotate(45deg);
    }

    &::after {
      transform: rotate(-45deg);
    }
  }
}

@media screen and (min-width: $tablet-width) {
  .main-nav__wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
  }

  .main-nav__toggle {
    display: none;
  }

  .main-nav__text-mobile {
    display: none;
  }

  .main-nav {
    background-color: #000000;
  }
}


