//page-main
.page-main {
  background-color: $seashell;
}

.page-main__header {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: flex-start;
  &--form {
  }
  @media screen and (min-width: $tablet-width) {
    &--form {
      margin-bottom: 70px;
    }
  }
  &--portfolio {
    justify-content: center;
  }
  @media screen and (min-width: $tablet-width) {
    justify-content: space-between;
    align-items: baseline;
  }
}
