// prices
.prices {
  background-color: $night-rider;
  color: #ffffff;
  padding-top: 40px;
  @media screen and (min-width: $tablet-width) {
    padding-top: 50px;
    padding-bottom: 55px;
  }
}
.prices__heading {
  text-transform: uppercase;
  text-align: center;
  font-size: 30px;
  line-height: 1;
  @media screen and (min-width: $tablet-width) {
    text-align: left;
  }
}
.prices__wrapper {
  margin-top: 30px;
  margin-bottom: 40px;
  @media screen and (min-width: $tablet-width) {
    margin-top: 50px;
    margin-bottom: 10px;
  }
  @media screen and (min-width: $desktop-width) {
    display: flex;
  }
}
.prices__table {
  border-spacing: 0;
  border-collapse: collapse;
  width: 100%;
  margin-bottom: 30px;
  @media screen and (min-width: $tablet-width) {
    margin-bottom: 10px;
  }
  @media screen and (min-width: $desktop-width) {
    margin-bottom: 0;
  }
}
.prices__row {
  display: flex;
  justify-content: space-between;
  padding-bottom: 27px;
  &:last-child {
    padding-bottom: 0;
  }
  @media screen and (min-width: $tablet-width) {
    display: table-row;
    padding-bottom: 0;
  }
}
.prices__column {
  font-size: 20px;
  line-height: 14px;
  display: none;
  margin: 0;
  padding: 0;
  &:nth-child(2) {
    font-weight: 700;
  }
  @media screen and (min-width: $tablet-width) {
    display: table-cell;
    border: 1px solid $charcoal;
    padding: 20px 18px;
  }
  &--price {
    display: table-cell;
  }
  &--mobile {
    display: table-cell;
    @media screen and (min-width: $tablet-width) {
      display: none;
    }
  }
  &--count {
    display: none;
    @media screen and (min-width: $tablet-width) {
      display: table-cell;
      color: rgba(255, 255, 255, 0.3);
    }
  }
}

.prices__text {
  &--bold {
    font-weight: 700;
    display: block;
  }
  @media screen and (min-width: $tablet-width) {
    padding-bottom: 0;
  }
}
