// sign in modal
.sign-in-modal {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  transition: top 0.5s ease;
  z-index: 10;
  width: 100%;
  &--shown {
    display: block;
  }
  @media screen and (min-width: $tablet-width) {
    left: 20%;
    width: 460px;
    box-shadow: 0px 30px 50px rgba(0, 1, 1, 0.75);
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}

.sign-in-modal__container {
  padding: 37px 20px;
  background-color: $seashell;
  padding-inline: 20px;
  @media screen and (min-width: $tablet-width) {
    padding: 70px 58px;
  }
}
.sign-in-modal__title {
  font-size: 30px;
  line-height: 22px;
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
  margin: 0;
  padding: 0;
  margin-bottom: 25px;
  @media screen and (min-width: $tablet-width) {
    line-height: 33px;
  }
}
.sign-in-modal__additional-info {
  margin-bottom: 34px;
  line-height: 14px;
  font-size: 18px;
  text-align: center;
  line-height: 14px;
  font-size: 18px;
}
.sign-in-modal__form {
}

.sign-in-modal__input {
  width: 100%;
  padding: 18.5px;
  &--checkbox {
    width: auto;
  }
  &::placeholder {
    color: #000000;
  }
  @media screen and (min-width: $tablet-width) {
    padding: 23.5px;
    &::placeholder {
      line-height: 18px;
    }
  }
}
.sign-in-modal__input--checkbox:checked + .icon--box::after {
  content: "";
  position: absolute;
  width: 22px;
  height: 16px;
  top: 25%;
  left: 20%;
  background-image: url("/images/arrow.svg");
}

.sign-in-modal__label {
  line-height: 14px;
  font-size: 18px;
  position: relative;
  display: flex;
  align-items: center;
  &--login {
    &::after {
      content: "";
      position: absolute;
      top: 37%;
      right: 20px;
      width: 14px;
      height: 16px;
      background-image: url("../images/user-icon.svg");
      background-position: 0 0;
      background-repeat: no-repeat;
    }
  }
  &--password {
    &::after {
      content: "";
      position: absolute;
      top: 37%;
      right: 20px;
      width: 14px;
      height: 16px;
      background-image: url("../images/lock.svg");
      background-position: 0 0;
      background-repeat: no-repeat;
    }
  }
  &--remember-me {
  }
}

.sign-in-modal__fieldset {
  padding: 0;
  border: 0;
  display: flex;
  flex-direction: column;
  margin-bottom: 25px;
  line-height: 14px;
  font-size: 18px;
  gap: 5px;
}

.sign-in-modal__link {
  text-decoration: underline;
  color: #000000;
  line-height: 14px;
  font-size: 18px;
  &:hover,
  &:focus {
    text-decoration: none;
  }
  &:active {
    color: $coffee;
  }
}
.sign-in-modal__link--forgot-password {
}
.sign-in-modal__wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.sign-in-modal__submit {
  width: 130px;
  margin-right: 0;
  line-height: 13px;
  height: 50px;
}
.sign-in-modal__close-btn {
  width: 130px;
  margin: 0;
  @media screen and (min-width: $tablet-width) {
    position: absolute;
    width: 26px;
    top: 5%;
    right: -20%;
    height: 26px;
    font-size: 0;
    background-color: transparent;
    border: none;
    &::before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 2px;
      background-color: #ffffff;
      transform: rotate(45deg);
    }
    &::after {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 2px;
      background-color: #ffffff;
      transform: rotate(-45deg);
    }
  }
}
