//slick

.slick-dots {
  list-style: none;
  display: flex;
  justify-content: center;
  padding: 0;

  & li {
    margin-left: 23px;

    &:first-child {
      margin: 0;
    }

    &.slick-active button {
      background-color: #ffffff;
    }

    & button {
      transform: rotate(45deg);
      width: 7px;
      height: 7px;
      font-size: 0;
      padding: 0;
      border: 1px solid #ffffff;
      background-color: transparent;
    }
  }
}

.reviews .slick-dots {
  & .slick-active button {
    background-color: $night-rider;
  }

  & button {
    transform: rotate(45deg);
    width: 7px;
    height: 7px;
    font-size: 0;
    padding: 0;
    border: 1px solid $night-rider;
    background-color: transparent;
    cursor: pointer;
  }

  @media screen and (min-width: $tablet-width) {
    grid-area: slick-dots-reviews;

    margin: 0;
    position: relative;
    bottom: -4px;
    z-index: 1;
    background-color: $seashell;
    width: fit-content;
    justify-self: center;
    padding: 12px 25px 0;
  }

  @media screen and (min-width: $desktop-width) {
    padding: 0;
    bottom: -9px;
  }
}

.reviews .slick-slider .slick-slide {
  display: flex;
}

.reviews .slick-arrow {
  font-size: 0;
  width: 100%;
  height: 100%;
  border: 0;
  border-left: 1px solid $spring-wood;
  border-right: 1px solid $spring-wood;
  background-color: transparent;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: border 0.3s ease;
  &::before {
    content: "";
    border-width: 6px 12px 6px 0;
    border-color: transparent #000000 transparent transparent;
    padding: 0;
    position: absolute;
    border-style: solid;
  }

  &.slick-next {
    grid-area: slick-next-reviews;
    transform: rotate(180deg);
  }

  &.slick-prev {
    grid-area: slick-prev-reviews;
  }
  &:hover,
  &:focus {
    outline: none;
    border-color: #777777;
  }

  &:active {
    opacity: 0.6;
    border: none;
  }

  @media screen and (min-width: $desktop-width) {
    border: 1px solid $spring-wood;
  }
}

.reviews .slick-slider {
  @media screen and (min-width: $tablet-width) {
    display: grid;
    grid-template-areas: "slick-prev-reviews slick-list-reviews slick-next-reviews" "slick-prev-reviews slick-dots-reviews slick-next-reviews";
    grid-template-columns: 50px 1fr 50px;
    align-items: center;
    justify-content: end;
  }

  @media screen and (min-width: $desktop-width) {
    grid-template-areas:
      "slick-prev-reviews slick-list-reviews slick-next-reviews"
      "slick-dots-reviews slick-dots-reviews slick-dots-reviews ";
  }
  grid-template-columns: 50px 1fr 50px;
  gap: 21px;
}

.reviews .slick-list {
  @media screen and (min-width: $tablet-width) {
    grid-area: slick-list-reviews;
    padding-top: 30px;
  }

  @media screen and (min-width: $desktop-width) {
    padding: 0;
  }
}
