//user-list

.user-list {
  width: calc(250 / 320 * 100%);
  @media screen and (min-width: $tablet-width) {
    width: auto;
  }
}

.user-list-nav__item {
  background-color: #6a4d38;
  @media screen and (min-width: $tablet-width) {
    background-color: inherit;
  }
  @media screen and (min-width: $desktop-width) {
    width: 150px;
  }
}

.user-list-nav__button {
  position: relative;
  display: flex;
  text-transform: uppercase;
  color: #ffffff;
  text-decoration: none;
  font-weight: 700;
  font-size: 18px;
  line-height: 13px;
  font-family: inherit;
  border: none;
  background-color: transparent;
  cursor: pointer;
  padding: 18.5px;
  padding-left: 45px;
  width: 100%;
  transition: 0.5s;

  &--active {
    border-bottom: 3px solid $roman-coffee;
  }

  &:hover,
  &:focus {
    // background-color: #ffffff;
    color: #000000;

    &::after {
      background-position: 0 0;
    }
  }

  &:active {
    color: fade-out($color: #000000, $amount: 0.7);
  }
  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #ffffff;
    transition: 0.5s;
    transform-origin: right;
    transform: scaleX(0);
    z-index: -1;
  }

  &:hover::before,
  &:focus::before {
    transition: transform 0.5s;
    transform-origin: left;
    transform: scaleX(1);
  }

  &::after {
    content: "";
    position: absolute;
    top: 33%;
    left: 20px;
    background-image: url(../images/sprite.png);
    width: 17px;
    height: 17px;
    background-position: 0 205px;
  }

  &:hover::after {
    @media screen and (min-width: $tablet-width) {
      background-position: 0 205px;
    }

    @media screen and (min-width: $desktop-width) {
      background-position: 0 247px;
    }
  }
  @media screen and (min-width: $tablet-width) {
    padding: 0;
    box-shadow: none;

    &::after {
      top: 25px;
      left: 0;
    }
  }
  @media screen and (min-width: $desktop-width) {
    padding: 24px 32px;
    padding-left: 60px;
    width: 100%;
    line-height: 24px;

    &::after {
      left: 26px;
      top: 28px;
    }
  }
}
.user-list__button-text {
  display: block;
  font-weight: 400;
  @media screen and (min-width: $tablet-width) {
    display: none;
  }
  @media screen and (min-width: $desktop-width) {
    display: block;
  }
}
// combined styles

.user-list:hover .user-list-nav__button {
  transition: 0.5s;
  transform: scale(1);
}
