//page-header
.page-header {
  background-color: $grey-back;
  color: #ffffff;
  display: flex;
  flex-direction: column;
  background-image: url(/images/back-tablet.jpg);
  background-position: center 0;
  background-repeat: no-repeat;
  background-size: cover;
  height: auto;
  &--main {
  }
  &--not-main {
  }
  @media screen and (min-width: $tablet-width) {
    &--main {
      height: 469px;
    }
    &--not-main {
      height: auto;
    }
  }
  @media screen and (min-width: $desktop-width) {
    background-image: url(/images/back-desktop.jpg);
    background-size: cover;
    &--main {
      height: 720px;
    }
  }
}

.page-header__logo {
  display: flex;
  justify-content: center;
  padding: 29px 0;

  @media (min-width: $tablet-width) {
    order: 1;
    margin: 0 auto;
    margin-bottom: 75px;
  }
}

@media screen and (min-width: $desktop-width) {
  .page-header__logo {
    padding: 0;
    padding-top: 59px;
  }
}
