.triangle {
  &--advantages {
    fill: #f8f5f2;
  }
  &--form-bottom {
    display: block;
    fill: $nero;
    top: 0;
    height: 34px;
  }
  &--form {
  }
  &--not-homepage {
    fill: #f8f5f2;
    top: -34px;
    height: unset;
  }

  &--reviews {
    fill: $grey-back;

    @media screen and (min-width: $tablet-width) {
      display: none;
    }
  }

  position: relative;
  bottom: -5px;
  &--form {
    display: none;
  }
  &--portfolio-bottom {
    fill: $nero;
    bottom: -3px;
    @media screen and (min-width: $tablet-width) {
      display: none;
    }
  }
  &--portfolio-top {
    fill: $night-rider;
  }
  &--top {
    display: none;
  }
  @media screen and (min-width: $tablet-width) {
    bottom: -4px;
    height: 68px;
    &--not-homepage {
      fill: #f8f5f2;
      top: -68px;
      display: block;
    }
    &--top {
      display: block;
    }
    &--form-bottom {
      display: none;
    }
  }
}
